<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:mem:hibertest;sql.enforce_size=false</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <!-- task 2 -->
        <mapping resource="ru/ru.yalymar/mapping/model/User.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Car.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Model.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Image.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Role.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Manufactor.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Transmission.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Body.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Color.hbm.xml"/>
        <mapping resource="ru/ru.yalymar/mapping/model/Ad.hbm.xml"/>
    </session-factory>
</hibernate-configuration>