<web-app>
    <!-- /webstructure-->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.yalymar.webstructure.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <!-- /crudservlet-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.yalymar.crudservlet.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/crudservlet</url-pattern>
    </servlet-mapping>

    <!-- /servlet-->
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.yalymar.servlet.controller.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.yalymar.servlet.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>ru.yalymar.servlet.controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.yalymar.servlet.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <!-- /mvc-->
    <servlet>
        <servlet-name>StartController</servlet-name>
        <servlet-class>ru.yalymar.mvc.controller.StartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>ru.yalymar.mvc.controller.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>ru.yalymar.mvc.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>ru.yalymar.mvc.controller.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartController</servlet-name>
        <url-pattern>/mvc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/mvcadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/mvcdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/mvcedit</url-pattern>
    </servlet-mapping>

    <!-- filter-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.yalymar.filter.controller.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>ru.yalymar.filter.controller.UserFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>ExitController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.ExitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.UController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.UserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONController</servlet-name>
        <servlet-class>ru.yalymar.filter.controller.JsonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitController</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/filteradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UController</servlet-name>
        <url-pattern>/u</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/filterdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/filteredit</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>JSONController</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
</web-app>